@import "tailwindcss";

button {
  width: 200px;
  height: 50px;
  background-color: aliceblue;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  transition: all 0.3s;
}
button:hover {
  background-color: aqua;
}
input {
  border: 1px solid black;
}
